<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http=-equi="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content = "width=device-width, initial-scale=1.">
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="./css/styles.css" rel="stylesheet">
        <title>Document</title>
        <script>
            var token= document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content");
            function updateTodo(id,status) {
                fetch(`/todos/${id}`,{
                    method: "put",
                    headers: { "content-Type": "application/json" },
                    
                    body : JSON.stringify({
                        "_csrf": token,
                        completed: status,
                    })
                })
                .then((res) => {
                    if (res.ok){
                        window.location.reload();

                    }
                })
                .catch((err)=> console.error(err));
            }
            
            function deleteTodo(id) {
                fetch(`/todos/${id}`,{
                    method: 'delete',
                    headers: {"content-Type": "application/json"},
                    body : JSON.stringify({
                        "_csrf": token
                    })
                })
            
                .then((res) => {
                    if (res.ok){
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
            }
        </script>
    </head>
    <body>
        <div class = "grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <%- include('header.ejs') %>
                <div>                    
                    <%= loggedInUser.firstName %>
                    <%= loggedInUser.lastName %> <br>
                </div>
                <div class="gap-2 text-blue-600">
                    <a href="/">Homepage</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Login</a>
                </div>
                <a href="/signout">SignOut</a>
                <form action="/todos" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="whats next?" class="border border-gray-300 rounded text-gray-900 p-2 text-sm w-full" />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"/>
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
                        </div>
                    </div>
                </form>
                <% if(messages && messages.error && messages.error.length> 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <li>
                            <%= messages.error[i] %><br>
                        </li>
                        <% } %>
                            <% } %>

                <%- include('todo.ejs',{ "title":"Overdue" , "id" : "count-overdue" , "data" : overduetodos }) %>
            
                <!-- <%- include('todo.ejs',{ "id":"count-overdue", "title":"Overdue", "data": overduetodos }) %>  -->

                <%- include('todo.ejs',{ "id":"count-due-today", "data": todaytodos, "title":"Due Today"  }) %> 

                <%- include('todo.ejs', {"id":"count-due-later", "data": duelatertodos, "title":"Due Later" }) %> 

                <%- include('todo.ejs',{ "id": "completed-todos", "data": CompletedTodos, "title":"Completed Items" }) %>
           
            </div>
        </div>
         
        <br/>
         
        <%- include('footer.ejs') %>
    </body>
</html>